.movieList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.movieCard {
  height: 31rem;
}

.imageMovieCard {
  height: 23rem;
}

/* DETAIL PAGE */
.detail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.detail-text {
  margin-bottom: 0;
}
